@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 2rem 0;
  background-color: hsl(0deg, 0%, 95%);
}

.container {
  height: 90%;
  max-width: 23rem;
  margin: auto 0;
  border-radius: 8px;
  overflow: hidden;
}
.container .card {
  height: 28rem;
  padding: 1.75rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container .card.sedans {
  background-color: hsl(31deg, 77%, 52%);
}
.container .card.suvs {
  background-color: hsl(184deg, 100%, 22%);
}
.container .card.luxury {
  background-color: hsl(179deg, 100%, 13%);
}

.card-logo {
  display: inline-block;
}

.card-heading {
  color: hsl(0deg, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.card-text {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-size: 15px;
}

.card-link {
  border-radius: 19px;
  text-decoration: none;
  padding: 10px 1rem;
  background-color: hsl(0deg, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

.sedans .card-link {
  color: hsl(31deg, 77%, 52%);
}

.suvs .card-link {
  color: hsl(184deg, 100%, 22%);
}

.luxury .card-link {
  color: hsl(179deg, 100%, 13%);
}

/*Media Query*/
@media screen and (min-width: 900px) {
  body {
    height: 100vh;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 80%;
    height: initial;
  }
}